.safe-sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 100%;
  text-align: center;
  z-index: 200;
}

.safe-appgroup {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: #ccc;
  cursor: default;
  font: caption;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}

.safe-apps {
}

.safe-app {
  display: none;
  position: relative;
  color: #333;
  height: 22px;
  width: 100%;
  padding: 6px 8px 4px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  background: rgba(234, 234, 234, 1);
  font: caption;
  font-size: 14px;
  background-color: #ccc;
  cursor: default;
}

.safe-app:first-child {
  border-left: none;
}

.safe-app.visible {
  display: inline-block;
  float: left;
}

.safe-app.active {
  background: #fff;
}

.safe-app.flash {
  background: linear-gradient(to bottom, rgba(255,243,170,1) 0%, rgba(255,227,37,1) 100%);
}

.safe-buttons {
  float: left;
}

.safe-app-badge {
  position: absolute;
  right: 0;
  top: -7px;
  background: red;
  border-radius: 100%;
  text-align: center;
  font-size: 10px;
  padding: 0 5px;
}

.safe-app-badge.hidden {
  display: none;
}

.safe-app-icon {
  display: inline-block;
  height: 16px;
}

.safe-app-icon img {
  max-width: 16px;
  max-height: 16px;
}

.safe-views {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.safe-view { }
