body {
  font-family: 'Montserrat', sans-serif;
}

.safe-body {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: none;
  margin: 0;
}

.safe-sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  z-index: 200;
  background: #2d2f31;
  overflow: none;
}

.safe-appgroup {
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: #2d2f31;
  cursor: default;
  font: caption;
  width: 60px;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}

.safe-apps {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.safe-app {
  align-items: center;
  display: none;
  position: relative; justify-content: center;
  height: 65px;
  min-height: 50px;
  width: 60px;
  margin: 0;
  font: caption;
  font-size: 14px;
  background: #2d2f31;
  cursor: default;
  left: 0;
  overflow-x: none;
}

.safe-app:first-child {
  border-left: none;
}

.safe-app.visible {
  /* display: inline-block; */
  display: flex;
}

.safe-app.active {
  background: #47494b;
  box-sizing: border-box;
  border-left: 4px solid #EF6C00;
}

.safe-app.flash {
  background: linear-gradient(to bottom, rgba(255,243,170,1) 0%, rgba(255,227,37,1) 100%);
}

.safe-buttons {
  float: left;
}

.safe-app-icon {
  display: inline-block;
  height: 34px;
}

.safe-app-icon img {
  max-width: 16px;
  max-height: 16px;
}

.safe-app-badge {
  align-items: center;
  background: #D9534F;
  border-radius: 20px;
  top: 11px;
  color: #FFF;
  display: flex;
  font-size: 11px;
  justify-content: center;
  min-height: 17px;
  min-width: 10px;
  padding: 0px 5px;
  position: absolute;
  right: 8px;
}

.safe-app-badge.hidden {
  display: none;
}

.safe-views {
  position: relative;
  height: 100%;
  overflow: hidden;
  order: 5;
  width: calc(100% - 60px);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.safe-view-wrapper {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.safe-view-wrapper.visible {
  z-index: 100;
}

.safe-view-wrapper.visible.loading {
}

webview {
  display: inline-flex;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.safe-view { }

#safe-overlay.not-selected {
  z-index: 200;
}

#safe-overlay {
  z-index: 0;
  position: absolute;
  background: #1C1C1C;
  height: 100%;
  width: 100%;
  color: #ADADAD;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.safe-select-app-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
